#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* when dialog close  */
dialog {
  transition:
    opacity 0.3s ,
    transform 0.3s ,
    display 0.3s allow-discrete;
  opacity: 0;
  transform: translateY(1000vh);
}

/* when open  */
dialog:open {
  opacity: 1;
  transform: translateY(0);
}
@starting-style {
  dialog:open {
    opacity: 1;
    transform: translateY(100vh);
  }
}
//background styling
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);

  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete ,
    background-color 0.3s ;
}
dialog:open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}
@starting-style {
  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}
